.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
}
h1 {
  color: white;
}
input {
  border: 1px solid #0f4c75;
  height: 20px;
  color: white;
  background-color: #1b262c;
  border-radius: 5px;
  padding: 2px;
}
input:focus {
  outline: none;
}

button {
  border: 1px solid #0f4c75;
  border-radius: 5px;
  height: 27px;
  margin-left: 5px;
  background-color: #3282b8;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #1b262c;
}
h4 {
  color: white;
}
section {
  flex-direction: column-reverse;
}
